# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Landmark_Management.zip
cov-int/emit/DESKTOP-27S86CR/emit-db.write-lock
cov-int/build-cwd.txt
cov-int/build-id.txt
cov-int/build-log.txt
cov-int/build-timings.txt
cov-int/BUILD.metrics.xml
*.xml
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/coverity_config_created
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/g++-config-0/coverity-compiler-compat.h
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/g++-config-0/coverity-macro-compat.h
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/g++-config-1/coverity-compiler-compat.h
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/g++-config-1/coverity-macro-compat.h
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/g++cc-config-0/coverity-compiler-compat.h
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/g++cc-config-0/coverity-macro-compat.h
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/g++cc-config-1/coverity-compiler-compat.h
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/g++cc-config-1/coverity-macro-compat.h
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/gcc-config-0/coverity-compiler-compat.h
cov-int/emit/version
cov-int/emit/DESKTOP-27S86CR/emit-db.lock
cov-int/emit/DESKTOP-27S86CR/emit-db
cov-int/emit/DESKTOP-27S86CR/config/31d22fc5b86079185f3783f27ee64058/gcc-config-0/coverity-macro-compat.h
Visual Studio/
